<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699571364271-t5g4n31g6ar4tir2cv7p7rs5huqobhfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699571364271-t5g4n31g6ar4tir2cv7p7rs5huqobhfo</string>
	<key>API_KEY</key>
	<string>AIzaSyC1TUSH4LjVkYu6xFHscL0VZ8L3xkcziDc</string>
	<key>GCM_SENDER_ID</key>
	<string>699571364271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.networkingApp</string>
	<key>PROJECT_ID</key>
	<string>networkingproject-7120b</string>
	<key>STORAGE_BUCKET</key>
	<string>networkingproject-7120b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699571364271:ios:f5f058db3d7fddc5394f5a</string>
</dict>
</plist>